
header{
    background: linear-gradient(90deg, hsl(176, 33%, 52%) 0%, hsl(176, 36%, 26%) 50%, hsl(176, 35%, 16%) 100%);
    box-shadow: 4px 4px 2px 1px rgba(86, 99, 97, 0.23);
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
}

.container{

    width: 90%;
    margin:0px auto;
    max-width:1500px; 

}

.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.logo{
    position: relative;
    width: 200px;
    padding-top: 0.3rem;
    margin-right: 550px; 
    margin-left: 50px;
    margin-top: 0.2rem;

}

.listItem{
    position: absolutr;
    margin-left: 3rem;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

@media screen and (max-width: 1100px) {
    .listItem{
        margin-left: 1rem;
    }  
    .logo{
        margin-right: 0px;
    }
}

@media screen and (max-width: 768px){
    .container-flex{
        flex-direction: column;
    }
    .logo{
        margin-right: 0px;
    }
} 






